#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 100%;
  background-color: rgb(11, 38, 122);
  padding: 2em;
  border-radius: 10%;
  box-shadow: 20px 20px 0px rgb(160, 160, 160);

}

.read-the-docs {
  color: #888;
}

.imageCard {
  background-color: white;
  width: 100%;
  height: auto;
  
}

figure {
  color: white;
  font-size: 2em;
  font-weight: 800;

}

.button {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 800;
}
